# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
PIC_Framework_3.X/dist/*
PIC_Framework_3.X/build/*
PIC_Framework_3.X/funclist
PIC_Framework_3.X/l.obj
PIC_Framework_3.X/nbproject/*
*.elf
*.xml
*.cmf
*.ini
